.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-examwindow {
  display: flex;
  align-content: baseline;
}

.App-exampane {
  margin: 15px;
  width: 50%;
  font-size: larger;
}

.App-patientpane {
  margin: 15px;
  width: 50%;
  font-size: larger;
}

.App-categoryheader {
  border-bottom: double;
}

.App-infodata {
  background-color: gainsboro;
  padding: 0%;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}

table {
  width: 90%;
  margin: 1 auto;
  border-collapse: collapse;
}

th, td{
  border: 1px solid #050303;
  padding: 50px;
  font-size: 40px;
}

th {
  background-color:aliceblue;
  color: black;
}